.bg-showDetails {
  background-image: url("/All-Images/Vector.png");
  background-repeat: no-repeat;
  background-color: linear-gradient(
    90deg,
    rgba(126, 144, 254, 0.05) 0%,
    rgba(152, 115, 255, 0.05) 100%
  );
}

.bg-showDetails-2 {
  background-image: url("/All-Images/Vector-1.png");
  background-repeat: no-repeat;
  background-position: right;
}

.bg-job-details {
  background: linear-gradient(
    90deg,
    rgba(126, 144, 254, 0.1) 0%,
    rgba(152, 115, 255, 0.1) 100%
  );
}
